@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Raleway:regular,500,600,700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #646564;
}

input,
button,
textarea {
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 80rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 2.5rem;
}

.preloader {
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  -webkit-transition: 1s all;
  -o-transition: 1s all;
  transition: 1s all;
  opacity: 1;
  visibility: visible;
}
.preloader__loader {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7px;
}
.preloader.done {
  opacity: 0;
  visibility: hidden;
}

.loader__doots-1 {
  width: 15px;
  height: 15px;
  background: -o-linear-gradient(298.16deg, #5CBE3A 12.85%, #EBFFE4 91.86%);
  background: linear-gradient(151.84deg, #5CBE3A 12.85%, #EBFFE4 91.86%);
  border-radius: 50%;
  -webkit-animation: 1s loader-doots-1 infinite;
          animation: 1s loader-doots-1 infinite;
}
.loader__doots-2 {
  width: 15px;
  height: 15px;
  background: -o-linear-gradient(298.16deg, #5CBE3A 12.85%, #EBFFE4 91.86%);
  background: linear-gradient(151.84deg, #5CBE3A 12.85%, #EBFFE4 91.86%);
  border-radius: 50%;
  -webkit-animation: 1s loader-doots-1 infinite;
          animation: 1s loader-doots-1 infinite;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}
.loader__doots-3 {
  width: 15px;
  height: 15px;
  background: -o-linear-gradient(298.16deg, #5CBE3A 12.85%, #EBFFE4 91.86%);
  background: linear-gradient(151.84deg, #5CBE3A 12.85%, #EBFFE4 91.86%);
  border-radius: 50%;
  -webkit-animation: 1s loader-doots-1 infinite;
          animation: 1s loader-doots-1 infinite;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

@-webkit-keyframes loader-doots-1 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, -30px);
            transform: translate(0, -30px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes loader-doots-1 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, -30px);
            transform: translate(0, -30px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@-webkit-keyframes loader-doots-2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, -30px);
            transform: translate(0, -30px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes loader-doots-2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, -30px);
            transform: translate(0, -30px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@-webkit-keyframes loader-doots-3 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, -30px);
            transform: translate(0, -30px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes loader-doots-3 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, -30px);
            transform: translate(0, -30px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.shop {
  background: #5CBE3A;
  border-radius: 4px;
  padding: 15px 30px;
  color: #fff;
}

.header {
  background: #EBFFE4;
}
.header__container {
  display: grid;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100px;
  grid-template-columns: repeat(12, 1fr);
}
.header__logo {
  grid-column: span 3;
  justify-self: start;
}
.header__menu {
  grid-column: span 6;
}
.header__shop {
  grid-column: span 3;
  justify-self: end;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu__item:hover {
  color: #0D2903;
}
.menu ._activ {
  color: #0D2903;
}

.home {
  height: 100vh;
  background: #EBFFE4;
}